@import url('https://fonts.googleapis.com/css?family=Lora:400,700|Source+Sans+Pro');

body{
    font-family: 'Arimo', Helvetica, Arial, sans-serif;
    background-color: #f4eade;
}

header{
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid black;
    background-color: #7eaba4
}

h1{
    font-size: 50px;
    color:	#343635;
    font-family: 'Lora', sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
}

.enterCountry{
    padding-top: 50px;
    text-align: center;
    font-family: inherit;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

h3{
    font-family: 'Source Sans Pro', sans-serif;
}

.search{
    padding-top: 10px;
    font-family: inherit;
}

#searchbar{
    width: 100%;
    height: 35px;
    font-family: inherit;
    box-shadow: 0px 2px 5px 2px #888, inset, 0 0 20px 2px black;
}

#searchbutton{
    width: 100%;
    float: left;
    padding: 5px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
    margin-top: 25px;
    font-family: inherit;
}

.earth{
    width: 400px;
    height: 400px;
    /* background-image: url('https://media.treehugger.com/assets/images/2013/06/1.jpg');
     */
    background-image: url('http://www.gotosee.tv/gotosee/motionselector/motion/Three.js/images/earth-outline-shifted-gray.png');
    position: absolute;
    top: 400px;
    bottom: 0;
    left: 0;
    right: 0;
    /* margin: auto; will center */
    margin: auto; 
    border-radius: 50%;
    background-size: cover;
    background-repeat: repeat-x;
    box-shadow: -20px -20px 50px 2px #222 inset, 0 0 20px 2px black;
    animation: spin 40s linear infinite;
}

.contain{
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

footer{
    height: 50px;
}


@media (max-width: 900px) {
    .earth{
        width: 150px;
        height: 150px;
        background-image: url('http://www.gotosee.tv/gotosee/motionselector/motion/Three.js/images/earth-outline-shifted-gray.png');
        position: absolute;
        top: 350px;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto; 
        border-radius: 50%;
        background-size: cover;
        background-repeat: repeat-x;
        box-shadow: -20px -20px 50px 2px #222 inset, 0 0 20px 2px black;
        animation: spin 40s linear infinite;
    }
}

@keyframes spin{
    /* 100%{
        background-position: 100%;
    } */

    from{
        background-position: 0 0;
    }
    to{
        background-position: 100% 0;
    }
}
@media(max-width: 550px){
    h1{
        font-size: 35px;
    }

    h3{
        font-family: 'Source Sans Pro', sans-serif;
    }
}